<!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">
    <p>
        Cadastro de Cliente
    </p>

        <div class="form-row mb-4">
            <div class="col">
                <input type="text" id="Nome" name="nome" class="form-control" placeholder="Nome">
            </div>
            <div class="col">
                <input type="text" id="Contato" name="Contato" class="form-control" placeholder="Contato">
            </div>

        </div>

        <p>
            <input type="text" id="Documento" name="Documento" class="form-control" placeholder="Documento">
        </p>

        <p>
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">
        </p>

        <div class="form-row mb-4">
            <div class="col">
                <input type="text" id="Celular" name="Celular" class="form-control" placeholder="Celular">
            </div>
            <div class="col">
                <input type="text" id="Telefone" name="Telefone" class="form-control" placeholder="Telefone">
            </div>
        </div>

        <p>
            <input type="text" id="Cep" name="Cep" class="form-control mb-4" placeholder="Cep">
        </p>

        <hr>



</form>
<!-- Default form register -->