@model UI.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <button id="enable-banner-install" class="mdl-button mdl-button--raised mdl-button--colored mdl-color--accent btn">
        <i class="fas fa-satellite-dish"></i>
    </button>
</div>

<br />
<div class="card card-body">
    <div class="card-img-top">
    </div>
    <div class="card-body"><img src="~/images/icons/icon-96x96.png" /></div>
</div>
