@model UI.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="card card-body">
    <div class="card-img-top">
        <button id="enable-banner-install" class="mdl-button mdl-button--raised mdl-button--colored mdl-color--accent">
            Banner Install
        </button>
    </div>
    <div class="card-body"><img src="~/images/icons/icon-96x96.png" /></div>
</div>

