@model UI.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="card card-body">
    <div class="card-img-top">
    </div>
    <div class="card-body"><img src="~/images/icons/icon-96x96.png" /></div>
</div>

