@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<p>
    Garantir a privacidade dos leitores é de extrema importância, assim como ser transparente e informá-los sobre os dados a que o site ou os anunciantes podem ter acesso. Para além disso, é a própria Google que exige esta política nos sites que exibam publicidade Adense.
</p>
<p>
    O que é uma política de privacidade
    A política de privacidade existe com a finalidade de proteger quer os anunciantes que utilizam dados dos leitores, quer os próprios leitores que ficam a conhecer quais as informações que são recolhidas, tendo opção de desativar a sua partilha.
</p>
<p>
    A importância da política de privacidade
    Alguns leitores podem considerar esta leitura de informações invasiva, e por isso, é importante que sejam avisados de antemão para evitar possíveis queixas. Convém informar o leitor que é possível alterar as suas definições desabilitando por exemplo a partilha de cookies no seu navegador.
</p>

<br />
<br />

