@model UI.Controllers.LogarController


@{
    ViewData["Title"] = "Logar";
}


<br />
<br />
<div class="container">
    <form id="myform">
        <div class="form-group">
            <input type="text" class="form-control" id="CodigoUsuario" name="CodigoUsuario" placeholder="Código Usuário">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="Logar();">Logar</button>
        </div>
    </form>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<script>
    function Logar() {
        var CodigoUsuario = $('#CodigoUsuario').val();
        var Senha = $('#Senha').val();
        var json = { "CodigoUsuario": CodigoUsuario, "Senha": Senha };

        if (CodigoUsuario == "" || Senha == "") {
            console.log("Digite os campos...");
            return false;
        }
        var x = location.host;

        $.ajax({
            type: "POST",
            url: '@Url.Action("logar", "Index")',
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,

            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
            },
            success: function (data) {
                //jwtRequest('https://' + x + '/api/usuario/getall');
                //console.log(data);

               //setTimeout("document.location = 'https://' + x + '/api/pedido/'", 5000);

                $('#content').html("");
                let body = '';
                body = 'Favor efetuar o seu Login.';
                $("#content").append('Acesso autorizado.');
                $("#myModal").modal();
                $("#myModal").modal({ keyboard: false });
                $("#myModal").modal('show');
                return false;

            },
            error: function (xhr, ajaxOptions, thrownError) {
           
                $('#content').html("");
                let body = '';
                body = 'Favor efetuar o seu Login.';
                $("#content").append('Credenciais Inválidas.');
                $("#myModal").modal();
                $("#myModal").modal({ keyboard: false });
                $("#myModal").modal('show');
                return false;
            }
        });
    }

    function jwtRequest(url) {
        var _token = getCookie('D4Cookie')
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": url,
            "method": "GET",
            "headers": {
                "authorization": "bearer " + _token,
                "cache-control": "no-cache"
            },
            "data": " {\n        \"id\": 2,\n        \"nome\": \"\",\n        \"email\": \"\",\n         \"cnpjCpf\": \"\",\n         \"senha\": \"\",\n        \"dataCadastro\": \"\",\n        \"dataUltimoLog\": \"\",\n        \"ativo\":\n    }"
        }
        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
    }
</script>
